.student-sidebar {
    width: 20%;
    float: left;
    height: 100%;
    max-width: 225px;
    border-right: 1px solid lightgray;

    ul {
        padding: 0;
        margin: 0;
    }

    .menu-item {
        list-style-type: none;
        border-bottom: 1px solid lightgray;
    }

    a {
        padding: 24px 12px;
        display: block;
        text-decoration: none;
        color: #000;
    }
}
