.account-container {
    border : 2px solid red;
    border-radius: 4px;
    width : 20%;
    margin-top : 150px;
    margin-left : auto;
    margin-right : auto;

    padding-bottom:20px;

    .account-header {
        text-align: center;
    }

    .to-login {
        margin-left : 10%;
        width : 80%;
    }
}

.register-title-container {

    border : 2px solid red;
    border-radius: 4px;

    width : 20%;
    margin-top : 20px;
    margin-left : auto;
    margin-right : auto;
    padding-bottom : 20px;

    box-sizing: content-box;

    .register-header {
        text-align: center;
    }

    .register-container {
        border : 2px solid blue;
        border-radius: 4px;
    
        width : 90%;
        margin : auto;
        width : 90%;

        box-sizing: content-box;

        .register-text {
            margin-left : 10%;
        }
        .register-input {
            margin-left : 10%;
            width : 80%;

            &.error {
                border-color: red;
            }
        }
        .register-button {
            margin-top : 20px;
            margin-left : 10%;
            margin-bottom : 20px;
            width : 80%
        }
        .show-warning {
            font-weight: bold;
            text-align: center;
           
            &.empty-fields {
                color: red;
            }
            &.success-registration {
                color: #008000;
            }
        }
    }
}