.container-container {

    border: 2px solid red;
    border-radius: 4px;
    width : 20%;
    height : 35%;
    margin-top : 150px;
    margin-left : auto;
    margin-right: auto;
    padding-bottom: 20px;
    box-sizing: content-box;

    .login-header {
        text-align: center;
       
    }

    .login-container {
        border: 2px solid blue;
        border-radius: 4px;
        margin : auto;
        width : 90%;
        height : 50%;
        box-sizing: content-box;


        .login-text {
            margin-left : 10%;
        }
        .login-input {
            margin-left: 10%;
            width : 80%;
        }
        .login-button {
            margin-top : 20px;
            margin-left : 10%;
            margin-bottom : 20px;
            width : 15%;
        }
        .link-forget-password {
            float : right;
            padding-right: 10%;
            padding-top: 20px;
        }
    }

   
}

.container-container-register {
    border: 2px solid red;
    border-radius: 4px;
    width : 20%;
    height : 35%;
    padding-bottom: 20px;
    margin-top : 20px;
    margin-left : auto;
    margin-right: auto;
    box-sizing: content-box;

    .register-header {
        text-align: center;
    }
    
    .register-container {
        border: 2px solid blue;
        border-radius: 4px;
        margin : auto;
        width : 90%;
        height : 70%;
        box-sizing: content-box;
    }

    .register-button {
        width : 40%;
        margin-left: 30%;
        margin-bottom : 20px;
    }

}