.student-result-assignment {
  .result-assignment-container {
    .question-block {
      // border: 1px solid black;
      width: 48%;
      float: left;
      margin: 5px;
      padding-left: 20px;

      &.wrong-answer {
        border: 1px solid red;
      }
      &.correct-answer {
        border: 1px solid green;
      }
    }
  }

  .top-container {
    border: 1px solid lightgray;
    width: 97%;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
  }
}
