.quick-link {
    background-color: #fff;
    margin-bottom: 30px;
    display: inline-block;
    margin-right: 30px;
    padding: 20px;
    width: 100%;
    display: flex;
    min-height: 180px;

    &:last-child {
        margin-right: 0;
    }

    .icon-container,
    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: middle;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    span {
        display: block;
        width: 100%;
    }
}
