.question-container {

    position: absolute;
    width: 60vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7ab8ff;

    .back-button {
        position: absolute;
        width : 10vw;
        height : 5vw;
        background-color: #fff;

        .stop-button {
            padding-top : 10px;
            text-align: center;
            color : #7ab8ff;
        }
    }
  
    .test-subject {
        text-align: center;
        padding-top : 20px;
        font-size: 60px;
        color : white;
    }
    .question-number {
        text-align: center;
        padding-top : 10px;
        color : #C5DFFC;
    }

    .q-and-a-container {
        border-color: white;
        background-color: white;
        position: absolute;
        width: 60vh;
        height: 30vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .question-text {
            text-align: center;
            padding-top : 5px; 
            margin-bottom: 30px;
        }

        .answers {
            list-style-type: none;   
        }
    }

    .progress {
        position: absolute;
        top : 90%;
        right : 5%;
        width : 60vh;
        height : 8vh;

        .list {
            float: right;
            display: inline;
            
            .square {
                display: inline;
                padding-left : 5px;
                padding-right : 5px;
                padding-bottom: 3px;
                padding-top: 3px;
                color : white;
                border : 1px solid white;
                margin : 4px;
            }
            .current-square {
                display: inline;
                padding-left : 5px;
                padding-right : 5px;
                padding-bottom: 3px;
                padding-top: 3px;
                background-color: white;
                border : 1px solid #7ab8ff;
                margin : 4px;
            }
        }
    }

}