* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Metropolis';
    color: #232323;
}

body,
html,
#app,
main {
    width: 100%;
    height: 100%;
}

.logo {
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
}

.admin-area {
    display: flex;
}

.admin-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin-area,
.student-area {
    background-color: #FBFBFB;
    width: 100%;
    height: 100%;
}

.student-area {
    background-color: #7AB8FF;
    position: relative;
}

.student-container {
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: #fff;
}
